{include file="public/top" /}  
    <!--右侧-->
    <div class="col-md-8"> 
    
     <div class="panel panel-default">
        <div class="panel-heading">个人信息</div>
        <div class="panel-body">
          <!-- 剪裁图片 -->
          <link rel="stylesheet" href="__PUBLIC__/ImgCropping/css/cropper.min.css">
          <link rel="stylesheet" href="__PUBLIC__/ImgCropping/css/ImgCropping.css">
          <!-- 剪裁图片 -->
          <form id="infoform">
          <table  class="table table-hover"><tr><td>
          昵称：</td><td><input type="" name="nickname" value="{$user.nickname}"></td></tr><tr><td>
          <button id="replaceImg" type="button" class="l-btn">修改头像</button>：</td><td><img src="__PUBLIC__/static/index/face/{$user.face}" id="finalImg" width="50"  onerror="this.src='__PUBLIC__/static/index/img/default.png'" class="img-circle "></td></tr><tr><td>
          性别：</td><td>
            <label class="radio-inline"><input type="radio" value="1" name="sex" <?php echo $user['sex']?'checked':'' ?>>男性 </label>
            <label class="radio-inline"><input type="radio" value="0" name="sex" <?php echo $user['sex']?'':'checked' ?>>女性 </label>
            </td></tr><tr><td>
          个性签名：</td><td><input type="text" name="autograph" value="{$user.autograph}" ></td></tr><tr><td>
          注册邮箱：</td><td>{$user.email}</td></tr><tr><td>
          注册时间:</td><td><?php echo date('Y年m月d日 H:i:s',$user['create_time']) ?></td></tr>
          </table>
          <button type="button" id="infobut">确认修改</button>
          </form>
        </div>
      </div>
    
<!--图片裁剪框 start-->
<div style="display: none" class="tailoring-container">
    <div class="black-cloth" onclick="closeTailor(this)"></div>
    <div class="tailoring-content">
            <div class="tailoring-content-one">
                <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                    选择图片
                </label>
                <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
            </div>
            <div class="tailoring-content-two">
                <div class="tailoring-box-parcel">
                    <img id="tailoringImg">
                </div>
                <div class="preview-box-parcel">
                    <p>图片预览：</p>
                    <div class="square previewImg"></div>
                    <div class="circular previewImg"></div>
                </div>
            </div>
            <div class="tailoring-content-three">
                <button class="l-btn cropper-reset-btn">复位</button>
                <button class="l-btn cropper-rotate-btn">旋转</button>
                <button class="l-btn cropper-scaleX-btn">换向</button>
                <button class="l-btn sureCut" id="sureCut">确定</button>
            </div>
        </div>
</div>
<!--图片裁剪框 end-->


<script src="__PUBLIC__/ImgCropping/js/cropper.min.js"></script>
<script>

    //弹出框水平垂直居中
    (window.onresize = function () {
        var win_height = $(window).height();
        var win_width = $(window).width();
        if (win_width <= 768){
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight())/2,
                "left": 0
            });
        }else{
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight())/2,
                "left": (win_width - $(".tailoring-content").outerWidth())/2
            });
        }
    })();

    //弹出图片裁剪框
    $("#replaceImg").on("click",function () {
        $(".tailoring-container").toggle();

    });
    //图像上传
    function selectImg(file) {
        if (!file.files || !file.files[0]){
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc,false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }
    //cropper图片裁剪
    $('#tailoringImg').cropper({
        aspectRatio: 1/1,//默认比例
        preview: '.previewImg',//预览视图
        guides: false,  //裁剪框的虚线(九宫格)
        autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
        movable: false, //是否允许移动图片
        dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
        movable: true,  //是否允许移动剪裁框
        resizable: true,  //是否允许改变裁剪框的大小
        zoomable: false,  //是否允许缩放图片大小
        mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
        touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
        rotatable: true,  //是否允许旋转图片
        crop: function(e) {
            // 输出结果数据裁剪图像。
        }
    });
    //旋转
    $(".cropper-rotate-btn").on("click",function () {
        $('#tailoringImg').cropper("rotate", 45);
    });
    //复位
    $(".cropper-reset-btn").on("click",function () {
        $('#tailoringImg').cropper("reset");
    });
    //换向
    var flagX = true;
    $(".cropper-scaleX-btn").on("click",function () {
        if(flagX){
            $('#tailoringImg').cropper("scaleX", -1);
            flagX = false;
        }else{
            $('#tailoringImg').cropper("scaleX", 1);
            flagX = true;
        }
        flagX != flagX;
    });

    //图片base64
    var base64url;
    //裁剪后的处理
    $("#sureCut").on("click",function () {
        if ($("#tailoringImg").attr("src") == null ){
            return false;
        }else{
            var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
            base64url = cas.toDataURL('image/png'); //转换为base64地址形式
            
            $("#finalImg").prop("src",base64url);//显示为图片的形式
            //关闭裁剪框
            closeTailor();
        }
    });
    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }

    //ajax提交图片到后台
    //ajax提交信息到后台
  
  
  $("#infobut").click(function(){
          var login = $('#infoform').serialize();
           
           $.ajax({  
               type:'post',
               url:"{:url('index/infoform')}",  
               data:login,  
               dataType:"json",  
               error:function(data){  
                   alert("错误");  
               },  
               success:function(data){  
                 if(data.code){
                    location.href = data.url;
                   alert(data.msg);
                  }else{
                    alert(data.msg);
                  }
                     
               }  
           });
       
        $.ajax({  
               type:'post',
               url:"{:url('index/face')}",  
               data:{suggest:base64url},  
               dataType:"json",
               error:function(data){  
                    
                   
               },  
               success:function(data){  
                 
                   
               }  
           });
  });



</script>



    <div class="panel panel-default">
        <div class="panel-heading">密码修改</div>
        <div class="panel-body">
          <form id="psform">
          <table  class="table table-hover"><tr><td>
          老密码：</td><td><input type="password" name="oldps"></td></tr><tr><td>
          新密码：</td><td><input type="password" name="newps" id="newps"></td></tr><tr><td>
          确认密码：</td><td><input type="password"  id="agps"></td></tr>
          
          </table>
          <button type="button" id="psbt">确认修改</button>
          </form>
        </div>
        <script>
          $('#psbt').click(function(){ 
          var pwd = $("#newps").val();
          var cpwd = $("#agps").val();
          if(pwd != cpwd){
            alert("两次密码不一致!");
            $("#pswd").val("");
            return false;
          }

            var login = $('#psform').serialize();
           
           $.ajax({  
               type:'post',
               url:"{:url('index/pswd')}",  
               data:login,  
               dataType:"json",  
               error:function(data){  
                   alert("错误");  
               },  
               success:function(data){  
                 if(data.code){
                    location.href = data.url;
                   alert(data.msg);
                  }else{
                    alert(data.msg);
                  }
                     
               }  
           });  
       });
        </script>
      </div>
<!--  -->
      <div class="panel panel-default">
        <div class="panel-heading">用户私钥</div>
        <div class="panel-body">
          {$user.secretkey} <br><br>
          <p><b>管理员 QQ ：</b>{$system.admin_qq}</p>
          <p><b>管理员电话：</b>{$system.admin_tel}</p>
        </div>
      </div>


      
    </div>
    <!-- 右侧 -->
  </div>
</div>
<!--底部-->
<nav class=" navbar-default  text-primary  text-center " role="navigation"></nav>
</body>
</html>