{include file="public/top" /} 
    <!--右侧-->
    <div class="col-md-8">
      

        <div class="panel panel-default">
          <div class="panel-heading">
            我的讨论
              <?php if($boole == null){ ?>
                <a href="{:url('index/addcollect',array('aid'=>$article['id']))}" class="btn btn-warning btn-xs pull-right"> + 收藏 </a>
              <?php }else{  ?>
                 <a href="{:url('index/delcollect',array('aid'=>$article['id']))}" class="btn btn-warning btn-xs pull-right">取消收藏</a>
              <?php }?>
          </div>
          <div class="panel-body">
            <div class="panel panel-default">
              <h3 class="text-center" ><b>{$article.title}</b></h3><p class="pull-right">热度：{$article.hot}&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted text-center"><?php echo date('Y年m月d日 H:i:s',$article['create_time']) ?> 作者：{$article['nickname']['nickname']}</p><hr>
              <p>{$article.content}</p>
            </div>
          </div>
          <!-- 发表评论 -->
          <div class="panel-body">
            <form action="{:url('index/comment')}" method="post">
               <textarea placeholder="发表评论：字数少于100" maxlength="100" style="width:100%;height: 60px" required="required"  name="comment"></textarea>
              <!-- 隐藏表单传值 -->
              <input type="hidden" name="uid" value="{$user.id}">
              <input type="hidden" name="aid" value="{$article.id}">
              <button type="submit" > 发表评论</button>
            </form>
          </div><hr>
          <!-- 评论列表 -->
            <div class="panel-body">
              <table class="table table-hover table-bordered">
                <caption>评论</caption>
                {volist name="comment" id="value"}
                <tr>
                  <td width="100">
                  <span class="glyphicon glyphicon-arrow-up"></span> <img style="vertical-align:text-bottom" width="30" src="__PUBLIC__/static/index/img/rank/{$value.rank}.png" class="img-circle "> {$value.nickname}
                  </td>
                  <td>{$value.comment}</td>
                </tr>
                {/volist}
              </table>
            </div>
    
      </div>
    </div>
    <!-- 右侧 -->


  </div>
</div>

<!--底部-->
<nav class="navbar-fixed-bottom" role="navigation"> 底部 </nav>
</body>
</html>







































